RegionData/src/regiondata/RegionData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="region">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="sub_region">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="red" use="optional"/>
                <xs:attribute type="xs:short" name="green" use="optional"/>
                <xs:attribute type="xs:short" name="blue" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="capital" use="optional"/>
                <xs:attribute type="xs:string" name="leader" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="leader"/>
      <xs:attribute type="xs:string" name="capital"/>
    </xs:complexType>
  </xs:element>
</xs:schema>